<section class="w-100 h-100">
    <mat-toolbar class="shadow-md">
        <span class="text-primary">Graph Theory</span>
    </mat-toolbar>
    <div class="flex column w-75 justify-between h-25 mt-3 m-auto bg-grey border-sm">
        <div class="flex row justify-between">
            <div class="bg-white">112.2</div>
            <div class="bg-white">112.2</div>
        </div>
        <div class="flex row justify-between">
            <div class="bg-white">112.2</div>
            <div class="bg-white">112.2</div>
        </div>
    </div>


    <div class="w-100 flex row justify-center m-auto mt-3">
        <button mat-raised-button color="primary" (click) = "onButtonClick()">Critical Roads</button>
    </div>
</section>